@import url("https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  /* background: linear-gradient(
    270deg,
    rgba(184, 241, 176, 1) 0%,
    rgba(250, 253, 214, 1) 70%
  ); */
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #413f42;
  color: white;
}

.pokeball-brand {
  height: 40px;
  width: 40px;
  padding: 0 20px 0 30px;
}

.pokedex-name {
  font-size: 1.8rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  margin: 15px 0;
}

.pokedex-name > a {
  color: white;
  text-decoration: none;
}

.search-container {
  background-color: #d1d1d1;
  padding: 15px;
}

.search-bar {
  height: 35px;
  font-size: 1rem;
  padding: 0 10px;
  width: 300px;
  margin: 0 10px 0 20px;
  border: 0;
  border-radius: 5px;
}

.search-btn {
  height: 35px;
  padding: 0 10px;
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  border: 0;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
}

.search-btn {
  background-color: #0aa1dd;
}

.show-all {
  background: none;
  border: 0;
  font-size: 1.2rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  float: right;
  margin-right: 30px;
  color: #413f42;
}

.search-btn > a {
  color: white;
  text-decoration: none;
}

.search-btn:hover {
  background-color: #396eb0;
}

.show-all:hover {
  color: white;
}

.loading-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 60px;
}

.loading-container > h2 {
  font-size: 1.8rem;
  margin: 20px 0 0;
}

.loading-container > h3 {
  margin: 0;
}

.pokedex-container {
  background: linear-gradient(
    270deg,
    rgba(184, 241, 176, 1) 0%,
    rgba(250, 253, 214, 1) 70%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
}

.pokedex {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 50px;
  margin: 100px;
  margin-bottom: 70px;
  max-width: 1100px;
}

.pokedex-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  border: 8px solid white;
  width: 180px;
  box-shadow: 0 5px 25px 1px rgb(0 0 0 / 50%);
}

.pokedex-card .id {
  margin: 5px;
}

.pokedex-card .thumbnail {
  height: 150px;
  width: 150px;
}

.pokedex-card .type {
  margin: 16px 0 0;
}

.pokedex-card .name {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0;
}

.load-more-btn {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  height: 45px;
  background-color: #d1d1d1;
  border: 0;
  padding: 0 15px;
  border-radius: 5px;
}

.load-more-btn:hover {
  background-color: #9d9d9d;
}

.down-arrow {
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 100%;
  background-color: #ff8d29;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 30px 30px 0;
}

.down-arrow i {
  font-size: 1.4rem;
}

.down-arrow:hover {
  background-color: #ff7700;
}

.grass {
  background: -moz-linear-gradient(
    180deg,
    rgba(139, 219, 129, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(139, 219, 129, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(139, 219, 129, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #019267;
}

.fire {
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 171, 76, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 171, 76, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 171, 76, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #f66b0e;
}

.water {
  background: -moz-linear-gradient(
    180deg,
    rgba(189, 230, 241, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(189, 230, 241, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(189, 230, 241, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #035397;
}

.bug {
  background: -moz-linear-gradient(
    180deg,
    rgba(180, 204, 74, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(180, 204, 74, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(180, 204, 74, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #938d25;
}

.normal {
  background: -moz-linear-gradient(
    180deg,
    rgba(196, 196, 164, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(196, 196, 164, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(196, 196, 164, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #777764;
}

.poison {
  background: -moz-linear-gradient(
    180deg,
    rgba(209, 140, 224, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(209, 140, 224, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(209, 140, 224, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #590696;
}

.electric {
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 239, 130, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 239, 130, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 239, 130, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #cdb300;
}

.ground {
  background: -moz-linear-gradient(
    180deg,
    rgba(236, 229, 199, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(236, 229, 199, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(236, 229, 199, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #90865b;
}

.fairy {
  background: -moz-linear-gradient(
    180deg,
    rgba(250, 217, 230, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(250, 217, 230, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(250, 217, 230, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #d26e96;
}

.fighting {
  background: -moz-linear-gradient(
    180deg,
    rgba(244, 105, 97, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(244, 105, 97, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(244, 105, 97, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #e32217;
}

.psychic {
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 123, 164, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 123, 164, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 123, 164, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #e61d5b;
}

.rock {
  background: -moz-linear-gradient(
    180deg,
    rgba(228, 209, 185, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(228, 209, 185, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(228, 209, 185, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #796142;
}

.steel {
  background: -moz-linear-gradient(
    180deg,
    rgba(184, 184, 208, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(184, 184, 208, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(184, 184, 208, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #6b6b7e;
}

.ice {
  background: -moz-linear-gradient(
    180deg,
    rgba(119, 240, 240, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(119, 240, 240, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(119, 240, 240, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #039f9f;
}

.dragon {
  background: -moz-linear-gradient(
    180deg,
    rgba(158, 122, 246, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(158, 122, 246, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(158, 122, 246, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #5f36cb;
}

.ghost {
  background: -moz-linear-gradient(
    180deg,
    rgba(112, 88, 152, 1) 10%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(112, 88, 152, 1) 10%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(112, 88, 152, 1) 10%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #503977;
}

.flying {
  background: -moz-linear-gradient(
    180deg,
    rgba(192, 175, 242, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(192, 175, 242, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(192, 175, 242, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #4a397c;
}

.dark {
  background: -moz-linear-gradient(
    180deg,
    rgba(88, 61, 47, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(88, 61, 47, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(88, 61, 47, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #463126;
}

.pokemon-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f0; */
  background: linear-gradient(
    270deg,
    rgba(184, 241, 176, 1) 0%,
    rgba(250, 253, 214, 1) 70%
  );
}

.pokemon-info-container_inner {
  display: grid;
  grid-template: repeat(1, auto) / repeat(2, 50%);
  /* grid-gap: 30px; */
  margin: 50px;
  padding: 30px;
  border-radius: 5px;
  max-width: 1080px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-right: 30px;
}

.image-container > .id {
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 20px;
}

.image-container > .pokemon-image {
  height: 300px;
  width: 300px;
  padding-bottom: 20px;
}

.detail-container {
  padding: 0 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.detail-container > .pokemon-name {
  font-size: 2rem;
  margin: 10px 0;
}

.detail-container > .description-heading {
  font-size: 1.2rem;
  margin: 0;
}

.detail-container > p {
  margin: 10px 0;
}

.detail-container > .type-heading {
  font-size: 1.2rem;
  margin: 10px 0;
}

.detail-container > .type {
  font-weight: 700;
}

.stats-container {
  grid-column: 1 / -1;
  border-radius: 5px;
  margin-top: 30px;
}

.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.stats > p {
  margin: 0;
  font-weight: bold;
}

.stats > p > span {
  display: block;
  font-weight: normal;
}

.moves-container {
  grid-column: 1 / -1;
  margin-top: 15px;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.not-found > img {
  height: 450px;
  width: 620px;
}

.back-home {
  height: 35px;
  padding: 0 10px;
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  border: 0;
  border-radius: 5px;
  background-color: rgb(224, 86, 86);
  color: white;
  margin-top: 20px;
  margin-bottom: 60px;
}

.back-home:hover {
  background-color: rgb(239, 14, 14);
}

.back-home > a {
  color: white;
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .pokedex {
    grid-template: repeat(7, 1fr) / repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .pokedex {
    grid-template: repeat(10, 1fr) / repeat(2, 1fr);
  }

  .image-container > .pokemon-image {
    height: 280px;
    width: 280px;
  }
}

@media screen and (max-width: 720px) {
  .search-bar {
    width: 200px;
  }

  .show-all {
    font-size: 1rem;
  }

  .pokemon-info-container_inner {
    display: flex;
    flex-direction: column;
    max-width: unset;
    width: 500px;
  }

  .image-container {
    padding: 0 20px;
    margin-right: 0;
  }

  .image-container > .pokemon-image {
    height: 300px;
    width: 300px;
  }

  .detail-container {
    padding-bottom: 20px;
  }

  .not-found > img {
    height: 380px;
    width: 500px;
  }
}

@media screen and (max-width: 560px) {
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .search-bar {
    width: 250px;
    margin-bottom: 5px;
  }

  .show-all {
    margin-top: 10px;
    font-size: 1.2rem;
  }

  .pokedex {
    display: flex;
    flex-direction: column;
  }

  .image-container > .pokemon-image {
    height: 200px;
    width: 200px;
  }

  .stats {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }

  .not-found > img {
    height: 240px;
    width: 320px;
  }
}
